/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

/* RESET END */

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.button {
    border-radius: 5px;
    border: 1px solid #7CBB01;
    background-color: #7CBB01;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 30%;
}

.col-center {
    margin: 0 5%;
}

.text-body {
    font-size: 16px;
    color: #858585;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 21px;
    font-weight: 600;
    color: #7CBB01;
}

.img-object-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* COMMON END */

/* HEADER */

header {
    height: 500px;
    background-color: #0C325A;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 130% 115%;
    position: relative;
}

.header-logo {
    width: 100px;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}

header a {
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

header nav {
    padding-top: 10px;
}

header a:hover {
    color: #7CBB01;
    text-shadow: 1px 1px 3px black;
}

.col-header-logo {
    width: 10%;
}

.col-header-menu {
    width: 40%;
}

.col-header-login {
    width: 40%;
}

.button-empty {
    border: 1px solid white;
    background-color: #0C325A;
    padding: 2px 5px;

}

.button-header {
    padding: 2px 10px;
}

.header-login {
    text-align: right;
}

.header-teaser {
    position: absolute;
    bottom: 125px;
    width: 40%;
}

.header-teaser .button {
    padding: 10px 20px;
}

.header-teaser h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}

/* HEADER END */

/* MAIN */

.first-section {
    background-color: #D3D3D3;
    text-align: center;
    height: 200px;
    margin: auto;
}

.first-section .wrapper {
    padding: 75px;
}

.second-section .col {
    width: 30%;
}

.second-section .col-center {
    width: 30%;
    margin: 0 5%;
}

.second-section {
    text-align: center;
}

.second-section img {
    margin: 30px 0;
    height: 150px;
}

.second-section hr {
    width: 50px;
    border: 1 solid #858585;
    margin: 20px auto;
}

main hr {
    width: 98%;
    border: 1 solid #858585;
    margin: 30px auto;
}

/* MAIN END */